In [7]:
# import testing, errors, and predictions csv
import pandas as pd

#Model Testing 
china_test_df = pd.read_csv("Predictions/china_train_test.csv")

india_test_df = pd.read_csv("Predictions/india_train_test.csv")

america_test_df = pd.read_csv("Predictions/usa_train_test.csv")

indonesia_test_df = pd.read_csv("Predictions/indonesia_train_test.csv")

#Error Results of Model
china_error_df = pd.read_csv("Predictions/china_errors.csv")

india_error_df = pd.read_csv("Predictions/india_errors.csv")

america_error_df = pd.read_csv("Predictions/usa_errors.csv")

indonesia_error_df = pd.read_csv("Predictions/indonesia_errors.csv")

# Predictions
china_pred_df = pd.read_csv("Predictions/china_predictions.csv")

india_pred_df = pd.read_csv("Predictions/india_predictions.csv")

america_pred_df = pd.read_csv("Predictions/america_predictions.csv")

indonesia_pred_df = pd.read_csv("Predictions/indonesia_predictions.csv")

In [8]:
# View each model df
print(china_test_df, india_test_df, america_test_df, indonesia_test_df)

   Unnamed: 0  prediction     real
0        2012   1375243.0  1375199
1        2013   1383044.0  1382793
2        2014   1390883.0  1390110
3        2015   1398760.0  1397029
4        2016   1406675.0  1403500
5        2017   1414628.0  1409517
6        2018   1422619.0  1415046
7        2019   1430648.0  1420062
8        2020   1438715.0  1424548
9        2021   1446820.0  1428481    Unnamed: 0    prediction     real
0        2012  1.263025e+06  1263066
1        2013  1.278353e+06  1278562
2        2014  1.293230e+06  1293859
3        2015  1.307656e+06  1309054
4        2016  1.321623e+06  1324171
5        2017  1.335112e+06  1339180
6        2018  1.348100e+06  1354052
7        2019  1.360563e+06  1368738
8        2020  1.372481e+06  1383198
9        2021  1.383836e+06  1397423    Unnamed: 0     prediction    real
0        2012  313331.729849  313335
1        2013  315521.733249  315537
2        2014  317662.442348  317719
3        2015  319780.634374  319929
4        2016  321889.065383  322180
5        2017  323982.748126  324459
6        2018  326049.150127  326767
7        2019  328070.567007  329093
8        2020  330033.950991  331432
9        2021  331930.439726  333783    Unnamed: 0     prediction    real
0        2012  248892.633833  248883
1        2013  252081.347200  252032
2        2014  255278.402697  255131
3        2015  258487.365722  258162
4        2016  261710.147140  261115
5        2017  264946.858126  263991
6        2018  268196.261720  266795
7        2019  271456.531586  269536
8        2020  274725.988774  272223
9        2021  278003.592056  274854

In [9]:
# View each results df
print(china_error_df, india_error_df, america_error_df, indonesia_error_df)

   Unnamed: 0      MAPE         RMSE
0           0  0.434863  8638.855873    Unnamed: 0      MAPE         RMSE
0           0  0.345511  6535.647387    Unnamed: 0      MAPE        RMSE
0           0  0.181435  853.470091    Unnamed: 0      MAPE         RMSE
0           0  0.410039  1524.297941

In [10]:
# View each predictions df
print(china_pred_df, india_pred_df, america_pred_df, indonesia_pred_df)

   Unnamed: 0          0
0        2022  1431861.0
1        2023  1434688.0
2        2024  1436962.0
3        2025  1438683.0
4        2026  1439851.0
5        2027  1440466.0
6        2028  1440528.0
7        2029  1440037.0
8        2030  1438993.0    Unnamed: 0  predicted_mean
0        2022    1.411422e+06
1        2023    1.425214e+06
2        2024    1.438816e+06
3        2025    1.452241e+06
4        2026    1.465488e+06
5        2027    1.478555e+06
6        2028    1.491435e+06
7        2029    1.504122e+06
8        2030    1.516614e+06    Unnamed: 0  predicted_mean
0        2022   336151.649981
1        2023   338533.153113
2        2024   340928.041214
3        2025   343329.814395
4        2026   345738.807230
5        2027   348150.807094
6        2028   350568.302699    Unnamed: 0  predicted_mean
0        2022   277422.501493
1        2023   279919.888283
2        2024   282338.944189
3        2025   284675.540726
4        2026   286929.027810
5        2027   289101.414770
6        2028   291195.995384

In [13]:
# Add country columns
# list to hold country name
countries = ["China", "India", "United States of America", "Indonesia"]

china_test_df["Country"] = countries[0]
china_error_df["Country"] = countries[0]
china_pred_df["Country"] = countries[0]

india_test_df["Country"] = countries[1]
india_error_df["Country"] = countries[1]
india_pred_df["Country"] = countries[1]

america_test_df["Country"] = countries[2]
america_error_df["Country"] = countries[2]
america_pred_df["Country"] = countries[2]

indonesia_test_df["Country"] = countries[3]
indonesia_error_df["Country"] = countries[3]
indonesia_pred_df["Country"] = countries[3]

In [15]:
# Merge country df based on type

testing_df = pd.concat([china_test_df, india_test_df, america_test_df, indonesia_test_df], ignore_index = True)

error_df = pd.concat([china_error_df, india_error_df, america_error_df, indonesia_error_df], ignore_index = True)

predictions_df = pd.concat([china_pred_df, india_pred_df, america_pred_df, indonesia_pred_df], ignore_index = True)

print(testing_df, error_df, predictions_df)

    Unnamed: 0    prediction     real                   Country
0         2012  1.375243e+06  1375199                     China
1         2013  1.383044e+06  1382793                     China
2         2014  1.390883e+06  1390110                     China
3         2015  1.398760e+06  1397029                     China
4         2016  1.406675e+06  1403500                     China
5         2017  1.414628e+06  1409517                     China
6         2018  1.422619e+06  1415046                     China
7         2019  1.430648e+06  1420062                     China
8         2020  1.438715e+06  1424548                     China
9         2021  1.446820e+06  1428481                     China
10        2012  1.263025e+06  1263066                     India
11        2013  1.278353e+06  1278562                     India
12        2014  1.293230e+06  1293859                     India
13        2015  1.307656e+06  1309054                     India
14        2016  1.321623e+06  1324171                     India
15        2017  1.335112e+06  1339180                     India
16        2018  1.348100e+06  1354052                     India
17        2019  1.360563e+06  1368738                     India
18        2020  1.372481e+06  1383198                     India
19        2021  1.383836e+06  1397423                     India
20        2012  3.133317e+05   313335  United States of America
21        2013  3.155217e+05   315537  United States of America
22        2014  3.176624e+05   317719  United States of America
23        2015  3.197806e+05   319929  United States of America
24        2016  3.218891e+05   322180  United States of America
25        2017  3.239827e+05   324459  United States of America
26        2018  3.260492e+05   326767  United States of America
27        2019  3.280706e+05   329093  United States of America
28        2020  3.300340e+05   331432  United States of America
29        2021  3.319304e+05   333783  United States of America
30        2012  2.488926e+05   248883                 Indonesia
31        2013  2.520813e+05   252032                 Indonesia
32        2014  2.552784e+05   255131                 Indonesia
33        2015  2.584874e+05   258162                 Indonesia
34        2016  2.617101e+05   261115                 Indonesia
35        2017  2.649469e+05   263991                 Indonesia
36        2018  2.681963e+05   266795                 Indonesia
37        2019  2.714565e+05   269536                 Indonesia
38        2020  2.747260e+05   272223                 Indonesia
39        2021  2.780036e+05   274854                 Indonesia    Unnamed: 0      MAPE         RMSE                   Country
0           0  0.434863  8638.855873                     China
1           0  0.345511  6535.647387                     India
2           0  0.181435   853.470091  United States of America
3           0  0.410039  1524.297941                 Indonesia     Unnamed: 0          0                   Country  predicted_mean
0         2022  1431861.0                     China             NaN
1         2023  1434688.0                     China             NaN
2         2024  1436962.0                     China             NaN
3         2025  1438683.0                     China             NaN
4         2026  1439851.0                     China             NaN
5         2027  1440466.0                     China             NaN
6         2028  1440528.0                     China             NaN
7         2029  1440037.0                     China             NaN
8         2030  1438993.0                     China             NaN
9         2022        NaN                     India    1.411422e+06
10        2023        NaN                     India    1.425214e+06
11        2024        NaN                     India    1.438816e+06
12        2025        NaN                     India    1.452241e+06
13        2026        NaN                     India    1.465488e+06
14        2027        NaN                     India    1.478555e+06
15        2028        NaN                     India    1.491435e+06
16        2029        NaN                     India    1.504122e+06
17        2030        NaN                     India    1.516614e+06
18        2022        NaN  United States of America    3.361516e+05
19        2023        NaN  United States of America    3.385332e+05
20        2024        NaN  United States of America    3.409280e+05
21        2025        NaN  United States of America    3.433298e+05
22        2026        NaN  United States of America    3.457388e+05
23        2027        NaN  United States of America    3.481508e+05
24        2028        NaN  United States of America    3.505683e+05
25        2022        NaN                 Indonesia    2.774225e+05
26        2023        NaN                 Indonesia    2.799199e+05
27        2024        NaN                 Indonesia    2.823389e+05
28        2025        NaN                 Indonesia    2.846755e+05
29        2026        NaN                 Indonesia    2.869290e+05
30        2027        NaN                 Indonesia    2.891014e+05
31        2028        NaN                 Indonesia    2.911960e+05

In [17]:
# Cleaning testing df - getting dtypes 
testing_df.columns = ["Year", "Predicted Pop", "Actual Pop", "Country"]

testing_df.dtypes

Year               int64
Predicted Pop    float64
Actual Pop         int64
Country           object
dtype: object

In [18]:
# Converting to raw numbers (in thousands)
testing_df[["Predicted Pop", "Actual Pop"]] = testing_df[["Predicted Pop", "Actual Pop"]] * 1000

testing_df

    Year  Predicted Pop  Actual Pop                   Country
0   2012   1.375243e+09  1375199000                     China
1   2013   1.383044e+09  1382793000                     China
2   2014   1.390883e+09  1390110000                     China
3   2015   1.398760e+09  1397029000                     China
4   2016   1.406675e+09  1403500000                     China
5   2017   1.414628e+09  1409517000                     China
6   2018   1.422619e+09  1415046000                     China
7   2019   1.430648e+09  1420062000                     China
8   2020   1.438715e+09  1424548000                     China
9   2021   1.446820e+09  1428481000                     China
10  2012   1.263025e+09  1263066000                     India
11  2013   1.278353e+09  1278562000                     India
12  2014   1.293230e+09  1293859000                     India
13  2015   1.307656e+09  1309054000                     India
14  2016   1.321623e+09  1324171000                     India
15  2017   1.335112e+09  1339180000                     India
16  2018   1.348100e+09  1354052000                     India
17  2019   1.360563e+09  1368738000                     India
18  2020   1.372481e+09  1383198000                     India
19  2021   1.383836e+09  1397423000                     India
20  2012   3.133317e+08   313335000  United States of America
21  2013   3.155217e+08   315537000  United States of America
22  2014   3.176624e+08   317719000  United States of America
23  2015   3.197806e+08   319929000  United States of America
24  2016   3.218891e+08   322180000  United States of America
25  2017   3.239827e+08   324459000  United States of America
26  2018   3.260492e+08   326767000  United States of America
27  2019   3.280706e+08   329093000  United States of America
28  2020   3.300340e+08   331432000  United States of America
29  2021   3.319304e+08   333783000  United States of America
30  2012   2.488926e+08   248883000                 Indonesia
31  2013   2.520813e+08   252032000                 Indonesia
32  2014   2.552784e+08   255131000                 Indonesia
33  2015   2.584874e+08   258162000                 Indonesia
34  2016   2.617101e+08   261115000                 Indonesia
35  2017   2.649469e+08   263991000                 Indonesia
36  2018   2.681963e+08   266795000                 Indonesia
37  2019   2.714565e+08   269536000                 Indonesia
38  2020   2.747260e+08   272223000                 Indonesia
39  2021   2.780036e+08   274854000                 Indonesia

In [19]:
# Changing data types - year to DT and numbers to int64
testing_df["Year"] = pd.to_datetime(testing_df["Year"], format="%Y")

testing_df["Predicted Pop"] = testing_df["Predicted Pop"].astype("int64")

testing_df.dtypes

Year             datetime64[ns]
Predicted Pop             int64
Actual Pop                int64
Country                  object
dtype: object

In [32]:
# Cleaning predictions df - combining rows
predictions_df['0'] = predictions_df["0"].combine_first(predictions_df["predicted_mean"])
predictions_df

    Unnamed: 0             0                   Country  predicted_mean
0         2022  1.431861e+06                     China             NaN
1         2023  1.434688e+06                     China             NaN
2         2024  1.436962e+06                     China             NaN
3         2025  1.438683e+06                     China             NaN
4         2026  1.439851e+06                     China             NaN
5         2027  1.440466e+06                     China             NaN
6         2028  1.440528e+06                     China             NaN
7         2029  1.440037e+06                     China             NaN
8         2030  1.438993e+06                     China             NaN
9         2022  1.411422e+06                     India    1.411422e+06
10        2023  1.425214e+06                     India    1.425214e+06
11        2024  1.438816e+06                     India    1.438816e+06
12        2025  1.452241e+06                     India    1.452241e+06
13        2026  1.465488e+06                     India    1.465488e+06
14        2027  1.478555e+06                     India    1.478555e+06
15        2028  1.491435e+06                     India    1.491435e+06
16        2029  1.504122e+06                     India    1.504122e+06
17        2030  1.516614e+06                     India    1.516614e+06
18        2022  3.361516e+05  United States of America    3.361516e+05
19        2023  3.385332e+05  United States of America    3.385332e+05
20        2024  3.409280e+05  United States of America    3.409280e+05
21        2025  3.433298e+05  United States of America    3.433298e+05
22        2026  3.457388e+05  United States of America    3.457388e+05
23        2027  3.481508e+05  United States of America    3.481508e+05
24        2028  3.505683e+05  United States of America    3.505683e+05
25        2022  2.774225e+05                 Indonesia    2.774225e+05
26        2023  2.799199e+05                 Indonesia    2.799199e+05
27        2024  2.823389e+05                 Indonesia    2.823389e+05
28        2025  2.846755e+05                 Indonesia    2.846755e+05
29        2026  2.869290e+05                 Indonesia    2.869290e+05
30        2027  2.891014e+05                 Indonesia    2.891014e+05
31        2028  2.911960e+05                 Indonesia    2.911960e+05

In [33]:
# Renaming columns, drop column, getting dtype
predictions_df = predictions_df.drop(columns=['predicted_mean'])

predictions_df.columns=["Year", "Predicted Pop", "Country"]

predictions_df.dtypes

Year               int64
Predicted Pop    float64
Country           object
dtype: object

In [35]:
# Converting to raw numbers and setting data type
predictions_df["Predicted Pop"] = (predictions_df["Predicted Pop"].astype("int64")) * 1000

predictions_df["Year"] = pd.to_datetime(predictions_df["Year"], format="%Y")

predictions_df.dtypes

Year             datetime64[ns]
Predicted Pop             int64
Country                  object
dtype: object

In [36]:
predictions_df

         Year  Predicted Pop                   Country
0  2022-01-01     1431861000                     China
1  2023-01-01     1434688000                     China
2  2024-01-01     1436962000                     China
3  2025-01-01     1438683000                     China
4  2026-01-01     1439851000                     China
5  2027-01-01     1440466000                     China
6  2028-01-01     1440528000                     China
7  2029-01-01     1440037000                     China
8  2030-01-01     1438993000                     China
9  2022-01-01     1411421000                     India
10 2023-01-01     1425213000                     India
11 2024-01-01     1438816000                     India
12 2025-01-01     1452240000                     India
13 2026-01-01     1465488000                     India
14 2027-01-01     1478555000                     India
15 2028-01-01     1491435000                     India
16 2029-01-01     1504122000                     India
17 2030-01-01     1516614000                     India
18 2022-01-01      336151000  United States of America
19 2023-01-01      338533000  United States of America
20 2024-01-01      340928000  United States of America
21 2025-01-01      343329000  United States of America
22 2026-01-01      345738000  United States of America
23 2027-01-01      348150000  United States of America
24 2028-01-01      350568000  United States of America
25 2022-01-01      277422000                 Indonesia
26 2023-01-01      279919000                 Indonesia
27 2024-01-01      282338000                 Indonesia
28 2025-01-01      284675000                 Indonesia
29 2026-01-01      286929000                 Indonesia
30 2027-01-01      289101000                 Indonesia
31 2028-01-01      291195000                 Indonesia

In [38]:
# Cleaning error df - dropping empty column and formatting precentage

error_df = error_df[["MAPE","RMSE","Country"]] 

error_df['MAPE'] = error_df['MAPE'].map("{:,.2%}".format)

error_df

/var/folders/5p/25436_g51g7_b5m6f2_pss0h0000gn/T/ipykernel_9557/899065393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  error_df['MAPE'] = error_df['MAPE'].map("{:,.2%}".format)

     MAPE         RMSE                   Country
0  43.49%  8638.855873                     China
1  34.55%  6535.647387                     India
2  18.14%   853.470091  United States of America
3  41.00%  1524.297941                 Indonesia

In [39]:
# Exporting data as csv

testing_df.to_csv("Visualizations/ARIMA_testing.csv")

error_df.to_csv("Visualizations/ARIMA_testing_error.csv")

predictions_df.to_csv("Visualizations/ARIMA_predictions.csv")